* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

h3 {
  margin: 5px 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 10px 0;
  justify-content: center;
}

li {
  cursor: pointer;
  margin: 0 10px;
}

li:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}

